.logo { font-family: 'Ubuntu', sans-serif; font-weight: bold; }
.logo a { text-decoration: none; }
.logo.search { font-size: 3vw; }
.logo.main { margin: 5em auto; }
.logo.main h1 { font-size: 5vw; text-align: center; font-weight: bold;}

@media (max-width: 700px) {
    .logo.main h1 { font-size: 15vw;}
    .logo.search { font-size: 4.5vw; }
}
@media (min-width: 701px) and (max-width: 1200px) {
    .logo.main h1 { font-size: 10vw;}
    .logo.search { font-size: 4.5vw; }
}
@media (min-width: 1201px) and (max-width: 1400px) {
    .logo.main h1 { font-size: 7vw;}
    .logo.search { font-size: 4vw; }
}

.search-header > div:first-child {
    margin-top: 1%;
}
.search-header > div:last-child {
    margin-top: 2.4%;
}
.search-header .search-form input{
    width: 100%;
}
.search-results { font-family: 'Ubuntu', sans-serif; }
.search-results li { margin-top: 1vw; margin-bottom: 1vw; list-style-type: none; }
.search-results .search-results-name { display: block; }

.product-list {
    margin-top: 2em;
    list-style-type: none;
}

.header-block {
    float: right;
    padding: 1em 0 1em 0;
}

.header-block .lang-switch {
    list-style-type: none;
}

.header-block .lang-switch li {
    display: inline-block;
    cursor: pointer;
}

.header-block .lang-switch li img {
    border: solid 1px grey;
    width: 1.5em;
}

.thumbnail-block {margin-top: 5%;}
.thumbnail-block a.thumbnail {text-decoration: none;}
.thumbnail-block .caption {text-align: center;}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}