#set ($has_text = false)
    <div id="footer">
#if ($rdf_link)
      <a href="$rdf_link?output=ttl">As Turtle</a> |
      <a href="$rdf_link?output=xml">As RDF/XML</a>
      <a href="http://translate.yandex.com/">Powered by Yandex.Translate</a>
#end
    </div>
    
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-57728144-1', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
</html>
