<!DOCTYPE html>
<html ng-app="foodpedia">
<head>
    <title>FOODpedia - a DBpedia of food products</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Latest compiled and minified CSS -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ngProgress.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.14/angular-route.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/lib/angular-translate.min.js"></script>
    <script type="text/javascript" src="js/lib/ng-progress/ngProgress.min.js"></script>
    <script type="text/javascript" src="js/ng-sparql.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57728144-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="container">
<div class="panel">
    <div class="header-block" ng-controller="LangCtrl">
        <ul class="lang-switch">
            <li ng-click="changeLanguage('ru')"><img src="assets/ru.png" style="border: 0; width: 36px;"/></li>
            <li ng-click="changeLanguage('en')"><img src="assets/gb.png" style="border: 0; width: 36px;"/></li>
        </ul>
    </div>
</div>
<div class="search_panel">
    <div ng-view></div>
</div>
<div>
    <ul class="info_list">
        <li class="info_item"><img src="img/info.png"/></li>
        <li class="info_item"><img src="img/stat.png"/></li>
        <li class="info_item"><img src="img/contact.png"/></li>
    </ul>
</div>
</body>
</html>
