<div class="row">
    <div class="col-md-8 center-block" style="float: none">
        <div class="logo">
            <h1><span style="color: #6aa84f">FOOD</span><span style="color: #f1c232">pedia</span></h1>
        </div>
        <div>
            <form role="form" novalidate ng-submit="send()">
                <div class="input-group">
                    <input type="text" class="form-control" 
                           placeholder='"4607081352675" или "макаронные изделия"'
                           ng-model="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" 
                                type="button" ng-click="send()">Поиск</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="search-results text-center" ng-show="products">
            <hr/>
            <h2>Результаты поиска (всего {{products.length}}):</h2>
            <div class="list-group product-list">
                <a class="list-group-item" href="{{product.product}}" 
                   ng-repeat="product in products">
                    {{product.barcode}}, {{product.name}}
                </a>
            </div>
        </div>
    </div>
</div>