<div class="row">
    <div class="col-md-8 center-block" style="float: none">
        <div class="logo main">
            <h1 class="noselect"><span style="color: #6aa84f">FOOD</span><span style="color: #f1c232">pedia</span></h1>
        </div>
        <div>
            <form role="form" novalidate ng-submit="send()">
                <div class="input-group">
                    <input type="text" class="form-control" 
                           placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
                           ng-model="search" ng-disabled="loading">
                    <span class="input-group-btn">
                        <button class="btn btn-default" 
                                type="button" ng-click="send()"
                                ng-disabled="loading">{{ 'BUTTON_SEARCH' | translate }}</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row thumbnail-block">
    <div class="col-md-8 center-block" style="float: none">
        <div class="row center-block">
            <div class="col-sm-4 col-md-4">
                <a href="#" class="thumbnail">
                    <div class="caption">
                        <h4>{{ 'THUMB_EXPLORE' | translate }}</h4>
                        <p></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="#" class="thumbnail">
                    <div class="caption">
                        <h4>{{ 'THUMB_USE' | translate }}</h4>
                        <p></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="#" class="thumbnail">
                    <div class="caption">
                        <h4>{{ 'THUMB_ABOUT' | translate }}</h4>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
